body {
  text-align: center;
  font-family: "Roboto", monospace;
  background: lightskyblue;
  color: white;
}

h1 {
  margin: 0 auto;
  font-family: "Roboto", monospace;
  font-size: 48px;
  margin: 2%;
  color: white;
}

h2 {
  font-size: 36px;
  font-weight: lighter;
  margin: 2%;
  color: white;
}

button:hover {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}

.drop-button {
  background-color: lightskyblue;
  border: 1px solid white;
  color: white;
  font-size: 21px;
  line-height: 30px;
  margin: 0%;
  text-align: center;
  width: 100px;;
}

#site-header {
  font-size: 20px;
  font-family: "Roboto", monospace;

}

#reset-button {
  background-color: lightskyblue;
  border: 1px solid white;
  color: white;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

#drop-button:hover {
  background-color: #4d79ff;
  color: white;
  cursor: pointer;  
}

#reset-button:hover {
  background-color: #4d79ff;
  color: white;
  cursor: pointer;
}


#button-red:hover {
  cursor: pointer;
  color: red
}

#button-yellow:hover {
  cursor: pointer;
  color: yellow;
}

#connectfour-board {
  background-color: lightskyblue;
}
