/*
 * Sets the overall styles for the page. There aren't many. All text is
 * centered, and the font is a monospaced Roboto (from Google).
 */

body {
  text-align: center;
   background-image: linear-gradient(-90deg, #FE777E, violet, lightskyblue);
  font-family: "Roboto", monospace;
}

/*
 * The header has a different font than the rest of the page. It's the title, so
 * it makes sense to make it a little different (and bigger).
 */

h1 {
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 48px;
  color: white;
  margin: 2%;
}

/*
 * The subheader (which let's us know whose turn it is) is a little smaller and
 * less prominent.
 */

/*
 * The container is a flex-box, which is a powerful layout tool. It grows
 * dyanamically, and allows us to position our elements with precision.
 */
