body {
  text-align: center;
  background: hotpink;
  color: white;
  font-family: "Roboto", monospace;
}

h1 {
  margin: 0 auto;
  font-family: "Roboto", monospace;
  font-size: 48px;
  margin: 2%;
  color: white;
}

h2 {
  font-size: 36px;
  font-weight: lighter;
  margin: 2%;
  color: white
}

.container {
  display: flex;           /* set our display property to use flex-box */
  justify-content: center; /* center container horizontally */
  align-items: center;   /* center content vertically */
}

/*
 * We want to display the subheader, board, and reset button in a single
 * vertical column.
 */

.column {
  height: 100%;
  width: 100%;
  flex-direction: column; /* align children in columns instead of rows */
}

/*
 * This ensures that we get three rows of three squares, rather than a single
 * row of nine squares.
 */

.wrap {
  flex-wrap: wrap; /* tells container to drop down once it reaches max-width */
  height: 456px;
  width: 456px;
}

/*
 * The square itself. We give it a specific size and border.
 */

 .square {
   border: 1px solid;
   border-color: white;
   font-size: 96px;
   height: 150px;
   line-height: 150px;
   user-select: none;
   width: 150px;
   color: white;
 }

.square:hover {
  background-color: deeppink;
  cursor: pointer;
}

#reset-button {
  background-color: hotpink;
  border: 1px solid white;
  color: white;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}


#reset-button:hover {
  background-color: deeppink;
  color: white;
  cursor: pointer;
}


#x-button:hover {
  background-color: deeppink;
  color: white;
  cursor: pointer;

}


#o-button:hover {
  background-color: deeppink;
  color: white;
  cursor: pointer;
}

.text-and-buttons {
  float: left;
  width: 15%
}

#container-wrap {
  margin-left: 15%;
}
